@model CreateBookingDto

@{
    ViewData["Title"] = "CreateCategory";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <h4 class="page-title">Rezervasyon İşlemleri</h4>
        <div class="row">
            <div class="col-md-12">
                <form method="post">
                    <div class="card">
                        <div class="card-header">
                            <div class="card-title">Yeni Rezervasyon Girşi</div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Name">Ad Soyad</label>
                                <input type="text" class="form-control" asp-for="Name" id="Name" placeholder="Ad Soyad">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="PhoneNumber">Telefon</label>
                                <input type="text" class="form-control" asp-for="PhoneNumber" id="PhoneNumber" placeholder="Rezervasyon Yapılacak Numara">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Email">Mail Adresi</label>
                                <input type="text" class="form-control" asp-for="Email" id="Email" placeholder="Rezervasyon Yapılacak Maili">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="PersonCount">Kişi Sayısı</label>
                                <input type="text" class="form-control" asp-for="PersonCount" id="PersonCount" placeholder="Rezervasyon Kişi Sayısı">
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="form-group">
                                <label for="Date">Rezervasyon Tarihi</label>
                                <input type="datetime-local" class="form-control" asp-for="Date" id="Date" placeholder="Rezervasyon Tarihi">
                            </div>
                        </div>
                        <div class="card-action">
                            <button class="btn btn-info">Rezervasyon Oluştur</button>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>

